<html>

<head>
  <style>

    a {
      text-decoration: none;
      color: #898989;
    }

    .form-container {
      height: 370px;
      min-width: 150px;
      max-width: 500px;
      width: 85%;
      position: absolute;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);
      border: 1px solid lightgrey;
      border-radius: 15px;
      padding: 170px 20px 20px 20px;
    }

    .email,
    .password,
    .username {
      width: 100%;
      margin-bottom: 10px;
    }

  </style>
</head>

<body>

  <form class="form-container">

    <!-->mat-icon>lock</mat-icon-->

    <h1 style="margin-top: -120px; margin-bottom: 70px; color: #6c6c6c;">Sign in</h1>

    <mat-divider style="margin-top: -40px; margin-bottom: 60px;"></mat-divider>


    <!--Email-->
    <mat-form-field class="email">
      <mat-label>Email</mat-label>
      <input matInput [(ngModel)]="email" name="email">
    </mat-form-field>


    <!--Password-->
    <mat-form-field class="password">
      <mat-label>Password</mat-label>
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <input matInput [(ngModel)]="password" name="password" type="password" [type]="hide ? 'password' : 'text'">
    </mat-form-field>

    <!--Button-->
    <button mat-raised-button style="margin-top: 30px; width: 100%;" (click)="register()">Register</button>

    <p style="top: 40px; position: relative; color: #898989;">Already have an account? <a href="/login"> Log in</a></p>



  </form>

  <app-somma></app-somma>

</body>
</html>
